doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    link(rel='stylesheet' type='text/css' href='stylesheets/styles.css')
    title Title
  body
    main.main.flex.row
      .top-right
      .top-left
        .banner.center
          .banner-top
            | TimeEnjoyed
          .banner-bottom
            |  codejam/
      .bottom-left
        .sp-bwtn.flex.col
          a.nav-btn(href='http://#') About
          a.nav-btn(href='http://#') Rules
          a.nav-btn(href='http://#') Prizes
          a.nav-btn(href='http://#') Entries
          a.nav-btn(href='http://#') Credits
      .bottom-right
        | main content goes here
